* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 100%;
    /* border: 3px solid red; */
}

.brother {
    color: white;
    background-color: #35423a;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bolder;
    font-style: oblique;
    border-bottom: 5px solid red;
}

span {
    color: orangered;
}

.brother ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.brother ul li a {
    color: white;
    text-decoration: none;
    font-size: small;
}

#contact {
    color: red;
}

.sister {
    background-color: #35423a;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px;
}

.sister button {
    background-color: red;
    color: white;
    padding: 5px 15px;
}

.sister form input {
    padding: 5px 10px;
}

.father {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.box {
    width: 24%;
    border: 3px solid #d894d8;
    background-color: #ddd4dd;
    padding: 20px;
}

h3 {
    background-color: #35423a;
    padding: 20px;
    color: #ddd4dd;
    text-align: center;
    margin-bottom: 20px;
}

.mother {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.box2 {
    width: 100%;
    padding: 20px;
    background-color: #cbdfd2;
    border: 5px dotted #d894d8;
}

.box1 {
    width: 48%;
    padding: 20px;
    background-color: #35423a;
    color: #cbdfd2;
    border: 5px solid orangered;
    margin: 10px 0px 10px 10px;
}

.child9 {
    background-color: red;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
}

.child9 span {
    color: #f5d2f2;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}